body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(15, 30px);
  gap: 2px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid-row {
  display: contents;
}

.grid-cell {
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: background-color 0.2s;
  border: 0.1px solid black;
}
